.profileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Makes it circular */
  font-weight: 700;
  color: white;
  background-color: #6c757d; /* Neutral background color */
  flex-shrink: 0; /* Prevents resizing in flex containers */
}

/* Sizes */
.small {
  width: 30px;
  height: 30px;
  font-size: 14px;
}
.medium {
  width: 40px;
  height: 40px;
  font-size: 18px;
}
.large {
  width: 60px;
  height: 60px;
  font-size: 24px;
}